@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
	font-family: "Avenir";
	src: url("../font/AvenirLTStd-Book.otf");
}

:root {
	--amarillo: #e7af18;
	--grisborde: #494c50;
	--parabackground: #ededed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Avenir", sans-serif;
}

/* BACKEND */

#resultado {
	background-color: #e7af18;
}

#comunicartecon {
	padding: 10px 10px;
	color: #000000;
	background-color: #e7af18;
	border-radius: 25px;
	display: none;
}

.show {
	display: flex;
}
/* FIN DE BACKEND */

/* FORM BUSQUEDA */

.buscar-form {
	padding: 20px;
}

.buscar-form h3 {
	color: #e7af18;
}

.buscar-form input {
	max-width: 100px;
	padding: 3px 3px;
	border: none;
}

#reten,
#ruleman {
	margin-left: 5px;
}

/* .buscar-form input__bus:focus {
	border: 2px solid #e7af18;
} */

.buscar-form button {
	padding: 5px;
	background-color: #e7af18;
	border: none;
	cursor: pointer;
	transition: 0.3s ease all;
}

.buscar-form button:hover {
	background-color: #6f550c;
}

.buscar-form p {
	color: var(--amarillo);
	padding: 20px 0;
}

.grupo {
	padding: 5px;
	color: white;
}
/* FIN FORM BUSQUEDA*/

/* SLIDER TOP */

.slider {
	position: relative;
	width: 100%;
	height: 20px;
	overflow: hidden;
}

.slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: var(--grisborde);
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.slider .slide.active {
	opacity: 1;
	transform: translateX(0);
}

.slider .slide.exit-left {
	opacity: 0;
	transform: translateX(-100%);
}

.slide svg {
	margin: 0 4px;
}
/* FIN DE SLIDER TOP*/

header {
	width: 100%;
	height: 180px;
	position: fixed;
	top: 0;
	z-index: 99;
	transition: 0.3s ease all;
}

.header__abajo {
	background-color: var(--amarillo);
	opacity: 0.9 !important;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	height: 60px;
}

.header__abajo__menu {
	color: #3b3b3a !important;
}

.container__menu {
	max-width: 1200px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
}

.logo img {
	width: 130px;
}

.header__abajo__logo {
	filter: invert(0) sepia(0) hue-rotate(0deg) saturate(0%) brightness(0%);
}

.menu {
	display: flex;
	align-items: center;
}

.menu ul {
	display: flex;
	align-items: center;
}

.menu ul li {
	list-style: none;
	margin-left: 36px;
}

.menu ul li a {
	text-decoration: none;
	font-size: 13px;
	color: var(--amarillo);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-weight: 500;
	transition: 0.3s ease all;
}

.menu ul li a:hover {
	font-size: 15px;
}

.book {
	border: 2px solid var(--amarillo);
	padding: 5px 20px 5px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.book svg {
	margin: 0 5px;
}

.li-consultas {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__abajo__book {
	border: 2px solid #3b3b3a !important;
}

.logomenu,
.close {
	display: none;
}

.menu #btn_menu {
	display: none;
}

.section1 {
	background-color: rgb(10, 10, 10, 1);
	background-image: url("../images/wall2.jpg");
	background-attachment: fixed;
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section1__top {
	background-color: #202123;
	background-color: var(--amarillo);
	width: 100%;
	padding: 10px;
	top: 0;
	border-top: solid 20px var(--grisborde);
	margin-bottom: 0px;
	text-align: center;
	color: var(--grisborde);
}

.section1__top p {
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0 5px;
}

.section1__top__box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-home {
	width: 100%;
}

.swiper-home img {
	width: 100%;
}

.swiper-home .swiper-button-next,
.swiper-button-prev {
	color: #e7af18;
}

/*  MOUSE DOWN */

.mouse {
	opacity: 0.5;
	width: 30px;
	height: 50px;
	/* border-radius: ; */
	border: 2px solid var(--amarillo);
	position: absolute;
	left: 50%;
	bottom: 50px;
	border-radius: 35px;
	margin-left: -15px;
}
.mouse-wheel {
	position: relative;
	overflow: hidden;
	width: 30px;
	height: 15px;
	border: 1px solid var(--amarillo);
	width: 6px;
	border-radius: 500px;
	margin: 5px auto 0;
	margin-top: 5px;
}
.mouse-wheel::after {
	content: "";
	position: absolute;
	width: 4px;
	background-color: var(--amarillo);
	height: 4px;
	left: 50%;
	margin-left: -2px;
	border-radius: 15px;
	animation: mouseScroll 1.5s 000ms infinite ease;
}
.arrows {
	position: relative;
	width: 26px;
	height: 20px;
	overflow: hidden;
	margin-top: -5px;
}

.arrows-container {
	overflow: hidden;
	position: relative;
}
.arrows {
	position: absolute;
	left: 50%;
	overflow: hidden;
	transform: rotate(45deg);
	margin-left: -5px;
	content: "";
	opacity: 0;
	width: 10px;
	height: 10px;
	border: 2px solid var(--amarillo);
	border-left-color: transparent;
	border-top-color: transparent;
	animation: arrowScroll 1.5s 500ms ease-in-out infinite;
}

@keyframes mouseScroll {
	0% {
		margin-top: -10px;
		opacity: 0;
	}
	50% {
		height: 8px;
	}
	100% {
		margin-top: 16px;
	}
}

@keyframes arrowScroll {
	from {
		margin-top: -2px;
		transform: rotate(45deg);
		opacity: 0;
	}
	50% {
		transform: rotate(45deg);
		opacity: 1;
	}
	to {
		margin-top: 10px;
		transform: rotate(45deg);
		opacity: 0;
	}
}

/* FIN MOUSE DOWN*/
.section1 h1 {
	color: var(--amarillo);
	font-weight: 400;
	font-size: 40px;
	padding: 20px;
}

.section11 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/* background-color: var(--amarillo); */
	background-color: var(--parabackground);
}

.section11__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 650px;
	padding: 50px 20px 0px 20px;
	margin-bottom: 70px;
}

.section11 h2 {
	color: #3b3b3a;
	padding: 20px 20px 30px 20px;
	font-size: 30px;
	font-weight: 300;
}
.section11 p {
	padding: 10px 10px 30px 10px;
	font-family: "Avenir";
	color: #3b3b3a;
	font-size: 14px;
	max-width: 1200px;
	line-height: 22px;
}

.section11__images {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;

	min-height: 70vh;
}

.section11__images img {
	width: 100%;
	max-width: 270px;
	height: auto;
	/* width: 250px;
    height: 400px; */
	padding: 5px 5px 5px 5px;
}

.sectionbuscador {
	background-color: rgb(10, 10, 10);
	background-image: url("../images/wall3.jpg");
	background-attachment: fixed;
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/* background-color: var(--amarillo); */
	min-height: 80vh;
}

.items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px;
}

.section2__info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--amarillo);
	width: 100%;
	min-height: 60vh;
	color: #202123;
}

.section2__info img {
	/* width: 30px; */
	max-width: 200px;
	margin: 5px;
}

.section2__info__box {
	display: flex;
	max-width: 700px;
	justify-content: center;
	align-items: center;
}

.section2__info__box__der {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section2__info__content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.section2__info__box h3 {
	padding: 40px 8px;
	font-size: 40px;
	font-family: "Avenir", sans-serif;
}

.section2__info__box p {
	padding: 10px 8px;
	font-size: 30px;
	font-family: "Avenir", sans-serif;
}

.section3__content {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	/* background-color: white; */
	background-color: var(--parabackground);
}
.section3__content__right {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	height: 100vh;
	background-color: var(--parabackground);
}
.section3__content__right h3 {
	font-family: "Source Sans Pro", sans-serif;
	color: #3b3b3a;
	padding: 0 20px 0 20px;
}

.section3__content__right h4 {
	color: var(--amarillo);
	font-size: 30px;
	padding: 0 20px 0 20px;
}

.section3__content__right p {
	padding: 10px;
	font-family: "Avenir";
	color: #3b3b3a;
	font-size: 14px;
}

.grafitoil-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.grafitoil {
	max-width: 200px;
	padding: 0 20px;
}

.envases-grafitoil {
	max-width: 200px;
}

.section3__content__right button {
	padding: 10px 20px 10px 20px;
	color: var(--amarillo);
	border: 2px solid var(--amarillo);
	max-width: 300px;
	margin: 0 20px 0 20px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	background-color: transparent;
	letter-spacing: 1px;
}

.section3__content__left {
	background-image: url("../images/industria.jpg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50%;
	height: 100vh;
}

.section4__content {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	/* background-color:rgba(64, 184, 175, 1); */
	background-color: var(--parabackground);

	/* background-image: url("../images/hotelpreview.jpg"); */
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.section4__content__right {
	background-image: url("../images/industriales.jpeg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50%;
	height: 100vh;
}

.section4__content__left {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	height: 100vh;
	padding: 0 20px 0 20px;
}

.section4__content__left h3 {
	font-family: "Source Sans Pro", sans-serif;
	color: #3b3b3a;
	padding: 0 20px 0 20px;
}

.section4__content__left h4 {
	color: var(--amarillo);
	font-size: 30px;
	padding: 0 20px 0 20px;
}

.section4__content__left p {
	padding: 20px;
	font-family: "Avenir";
	color: #3b3b3a;
	font-size: 14px;
}

.section44__content__right {
	background-image: url("../images/agricola.jpeg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50%;
	height: 100vh;
}

/* SLIDER MARCAS*/

.section__marcas__slider {
	width: 100%;
	max-width: 1400px;
	height: auto;
	margin: auto;
	overflow: hidden;
	position: relative;
	display: flex;
	padding: 20px;
	min-height: 60vh;
}

.section__marcas__slider:before,
.section__marcas__slider:after {
	position: absolute;
	top: 0;
	width: 5rem;
	height: 100%;
	content: "";
	z-index: 1;
}

.section__marcas__slider:before {
	left: 0;
	background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.section__marcas__slider:after {
	right: 0;
	background: linear-gradient(to left, #fff 0%, transparent 100%);
}

.section__marcas__slider__track {
	display: flex;
	animation: scroll 10s linear infinite;
	-webkit-animation: scroll 20s linear infinite;
	/* width: calc(200px * 14); */
}

.section__marcas__content__slide {
	width: 100px;
	margin: 0 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section__marcas__content__slide img {
	width: 100%;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100%));
	}
}

.sectioninfocontact {
	background-color: rgb(10, 10, 10);
	background-image: url("../images/wall.webp");
	background-attachment: fixed;
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	/* background-color: var(--grisborde); */
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 14px;
}

.sectioninfocontact h3 {
	font-family: "Source Sans Pro", sans-serif;
	color: var(--amarillo);
	font-size: 20px;
	font-weight: 400;
	padding: 20px;
}

.sectioninfocontact span {
	color: var(--amarillo);
}

.sectioninfocontact p {
	padding: 5px;
	font-family: "Avenir", sans-serif;
}

.section6__info {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 100px 0 160px 0;
	background-color: #ededed;
	color: #202123;
}

.section6__info__insta {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.section6__info__insta p {
	font-size: 22px;
	color: #7a7a7a;
	font-weight: 300;
}

.section6__info img {
	width: 100%;
	margin: 5px;
	max-width: 280px;
}

/*  SECTION CARDS */

.section-cards {
	background-color: var(--parabackground);
}

/* CARDS */
/*para reflejo */
.image-container {
	position: relative;
	width: 300px; /* Ajusta según el tamaño de tu imagen */
}

.original {
	display: block;
	width: 100%;
}

.reflejo {
	display: block;
	width: 100%;
	/* transform: scaleY(-1); */
	opacity: 0.5; /* Controla la transparencia */
	filter: blur(2px); /* Opcional: desenfoque */
	position: absolute;
	top: 100%; /* Posiciona el reflejo debajo de la imagen original */
	left: 0;
}

/* fin de reflejo*/
.list-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-container {
	perspective: 900px;
	margin: 10px;
	float: left;
}

.card {
	position: relative;
	width: 200px;
	height: 200px;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	top: 0;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	color: #fff;
	/* text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5); */
	border-radius: 25px;
}

.front {
	background-color: var(--amarillo);
	font-size: 16px;
}

.card-contain {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	max-width: 200px;
	height: 200px;
}

.back {
	background-color: var(--amarillo);
	font-size: 18px;
}

.card-container:hover .card {
	transform: rotateY(180deg);
	/* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}

.back {
	transform: rotateY(-180deg);
}

.footer__content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--amarillo);
}

.footer__content a {
	color: black;
	text-decoration: none;
	font-size: 12px;
	padding: 3px 0;
}

/*MODAL POP UP*/

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 200;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #202123;
	border: 1px var(--amarillo) solid;
	padding: 1rem 1.5rem;
	width: 90%;
	height: 80%;
	border-radius: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 1.5rem;
	line-height: 1.6rem;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease all;
	border: 2px solid #3b3b3a;
	color: var(--amarillo);
}

.close-button:hover {
	background-color: darkgray;
	color: #30363d;
	transition: 0.2s ease all;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal__content__window h3 {
	font-size: 25px;
	color: var(--amarillo);
}
.modal__content__window span {
	color: #3b3b3a;
}

/*END MODAL POP UP*/

/*MODAL FORM*/

.formulario__block1,
.formulario__block2 {
	margin: 5px;
}

.formulario {
	display: flex;
	/* flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0 60px 0; */
	position: relative;
}

.section__formulario {
	width: 100%;
}

.section__formulario h1 {
	font-weight: 200;
	font-size: 80px;
}

.formulario__label {
	display: block;
	padding: 5px 0;
	cursor: pointer;
	color: #7a7a7a;
	transition: 0.3 ease all;
	text-align: left;
	font-size: 0.9em;
	font-family: "Avenir", sans-serif;
}

.formulario__label:hover {
	transition: 0.3 ease all;
	/*color:#ffa22e;*/
}

.formulario__grupo-input {
	position: relative;
}
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(120, 120, 120, 0.5);
    background-color: #7A7A7A;
   
} */

.formulario__grupo-input .textarea {
	height: 119px;
	line-height: 22px;
	resize: none;
}

.formulario__grupo {
	padding: 8px 0;
}

.formulario__input,
.formulario__msg {
	width: 300px;
	background: transparent;
	/*border: 1px solid #000000; */
	border: 1px solid #3b3b3a;
	height: 35px;
	line-height: 35px;
	padding: 0px 30px 0 5px;
	-webkit-transition: 0.2s ease all;
	transition: 0.2s ease all;
	font-size: 0.8em;
	color: #888c8f;
	/* border-radius: 8px; */
	font-family: "Avenir", sans-serif;
}

.formulario__input::placeholder,
.formulario__msg::placeholder {
	color: #494c50;
}

.formulario__input:focus,
.formulario__msg:focus {
	border: 1px solid var(--amarillo);
	outline: none;
	-webkit-box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
}

.formulario__input-error {
	color: #bb2929;
	font-size: 12px;
	margin-bottom: 0;
	text-align: left;
	display: none;
	position: absolute;
	/** para que no se muevan los divs para abajo **/
	width: 250px;
	/**errores mas largo **/
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 99;
	font-size: 16px;
	opacity: 0;
}

.formulario__validacion-estadoo {
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 99;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__mensaje {
	font-size: 1em;
	height: 70px;
	line-height: 40px;
	background: #bb2929;
	padding: 0 5px;
	border-radius: 3px;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* bottom: 20px; */
	width: 250px;
	text-align: center;
	color: #132027;
	z-index: 99999999999999;
	-webkit-box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.3);
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
	line-height: 75px;
}

.formulario__grupo-btn-enviar {
	width: 300px;
}

.formulario__btn {
	height: 35px;

	width: 100%;
	background: #202123;
	color: var(--amarillo);
	font-weight: bold;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.1s ease all;
	transition: 0.1s ease all;
	border: 2px solid var(--amarillo);
}

.formulario__btn:hover {
	background: var(--amarillo);
	color: #30363d;

	-webkit-box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: var(--amarillo);
	display: none;
	text-align: center;
	padding: 5px;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
/*esta clase estaba aca abajo pero lo saque .formulario__grupo-correctoo  */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: var(--amarillo);
	opacity: 1;
}

/* .formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
} */

.formulario__grupo-incorrecto .formulario__validacion-estado,
.formulario__grupo-incorrecto .formulario__validacion-estadoo {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 1px solid #bb2929;
}

/*END MODAL FORM*/

/* BOTON ARRIBA*/

/** BOTON ARRIBA **/
.button-up {
	width: 30px;
	height: 30px;
	font-size: 20px;
	color: #c8c8c8;
	background-color: var(--amarillo);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 30px;
	left: 10px;
	cursor: pointer;
	border: 3px solid transparent;
	transition: all 300ms ease;
	transform: scale(0);
	z-index: 9999;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-up:hover {
	transform: scale(1.1);
	background-color: #6f550c;
}

/* FIN BOTON ARRIBA*/

@media screen and (max-width: 1200px) {
	header {
		padding: 0 30px;
	}
}

@media screen and (max-width: 1000px) {
	.menu nav {
		position: fixed;
		top: 0;
		right: -250px;
		background: var(--amarillo);
		width: 250px;
		height: 100vh;
		padding: 40px;
		z-index: 1;
		transition: all 300ms;
	}

	.menu ul {
		flex-direction: column;
		/* margin-top: 40px; */
		align-items: flex-start;
	}

	.menu ul li {
		margin-top: 30px;
		margin-left: 0;
	}

	.menu ul li a {
		color: #000000;
	}

	.logomenu {
		display: block;
		width: 130px;
		filter: invert(0) sepia(0) hue-rotate(0deg) saturate(0%) brightness(0%);
	}

	.close {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 3px 6px;
		border: 1px solid #000000;
		transition: 0.3s ease all;
	}

	.close:hover {
		cursor: pointer;
		background-color: #9c9c9c;
	}

	#back_menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.7);
		display: none;
	}

	.menu #btn_menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		background: none;
		font-size: 24px;
		border-radius: 50px;
		cursor: pointer;
		transition: all 300ms;
		color: #ededed;
	}

	.menu #btn_menu:hover {
		background: #494c50(64, 184, 175, 1);
	}

	.book {
		border: 2px solid #3b3b3a !important;
	}

	/* CARTAS */
	.section11__images {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.section11__images img {
		max-width: 300px;
	}
}

@media screen and (max-width: 768px) {
	.modal-content {
		width: 98%;
		height: 80%;
	}

	.formulario__input,
	.formulario__msg,
	.formulario__grupo-btn-enviar {
		width: 200px;
	}

	.section2__info__content {
		flex-direction: column;
		padding: 10px;
		width: auto;
	}

	.section2__info__box {
		justify-content: flex-start;
		margin: 10px;
		max-width: 250px;
	}

	.section4__content__left {
		padding: 0;
	}
}

@media screen and (max-width: 462px) {
	/* CARTAS */
	.section11__images {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	.section11__images img {
		max-width: 300px;
	}

	.section4__content {
		flex-direction: column;
	}
	.section3__content {
		flex-direction: column-reverse;
	}

	.section3__content__right,
	.section3__content__left,
	.section4__content__right,
	.section4__content__left,
	.section44__content__right {
		width: 100%;
	}

	/* FORMULARIO*/

	.formulario {
		flex-direction: column;
	}

	.formulario__label {
		padding: 1px 0;
	}

	.formulario__input,
	.formulario__msg {
		width: 300px;
	}

	.formulario__grupo-btn-enviar {
		width: 300px;
	}

	.modal-content {
		padding: 1rem 1.5rem; /*que es esto?*/
		width: 100%;
		height: 100%;
	}

	.close-button {
		position: absolute;
		top: 7px;
		right: 7px;
		width: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
		cursor: pointer;
		transition: 0.2s ease all;
		border: 2px solid var(--amarillo);
		color: var(--amarillo);
	}

	.formulario__grupo-input .textarea {
		height: 70px;
	}
}

@media screen and (max-width: 375px) {
	.formulario__input,
	.formulario__msg,
	.formulario__grupo-btn-enviar {
		width: 200px;
	}
}
